* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
    font-size: 11.5px;
    letter-spacing: 1px;
    word-spacing: 4px;
    width: 100%;
    color: white;
    background: linear-gradient(90deg, rgba(96,84,184,1) 8%, rgba(106,89,231,1) 50%, rgba(159,150,227,1) 95%);
    z-index: 50;
    border-bottom: 1px solid rgb(213, 213, 213);
}

header i {
    margin-right: 120px;
}

.aboriginal-flag{
    margin-top: 25px;
    margin-left: 25px;
    height: 75px;
    width: 125px;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    margin-top: 84px;
    width: 180px;
    height: 100vh;
    font-size: 18px;
    background-color: rgb(242, 242, 242);
    box-shadow: -6px 3px 5px 5px rgba(113, 113, 113, 0.75);
    z-index: 2;
}

.sidebar-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-left: 30px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    border-style: none;
    font-size: 18px;
    background-color: rgb(242, 242, 242);

}

.sidebar-text i{
    margin-left: 7px;
}

.sidebar-text:hover {
    cursor: pointer;
    color: rgba(106,89,231,1);
    background-color: rgb(230, 230, 230);
}

.sidebar-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-left: 30px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    border-style: none;
    font-size: 18px;
    background-color: rgb(242, 242, 242);
}

.sidebar-btn:first-child{
    margin-top: 13.1px;
}

.add-remove.btn{
    font-weight: 900;
}

.sidebar-btn:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    color: rgb(88, 74, 194);
}

.acknowledge{
    padding-left: 15px;
    font-weight: 600;
    color: black;
    margin-top: 10px;
}


/* main page that you scroll*/

.main-page {
    position: relative;
    top: 96px; /* Adjust based on header height */
    left: 180px; /* Adjust based on sidebar width */
    right: 0; /* Take the remaining width */
    bottom: 0; /* Take the remaining height */
    width: calc(100% - 180px); /* Adjust based on sidebar width */
    height: calc(100vh - 96px); /* Adjust based on header height */
    margin-left: 150px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 75px;
    padding-top: 50px;
    align-content: start; /* Align content at the start of the grid */
}

.class-card {
    position: relative;
    text-align: center;
    width: 125px;
    height: 100px;
    margin-bottom: 50px;
}

.class-card p {
    font-size: 19px;
    color: rgb(85, 85, 85);
    padding-top: 15px;
}

.class-card:hover {
    cursor: pointer;
    color: rgba(96,84,184,1)
}

.class-card:hover p {
    cursor: auto;
    color: rgba(96,84,184,1);
}

.xmark {
    position: absolute;
    bottom: 85px;
    right: 0px;
    animation: none;
    border-style: none;
    background-color: white;
}

.xmark:hover {
    cursor: pointer;
}
/* animation for when deleting class */

.removeAnimation {
    animation: remove-animation 1s infinite normal forwards;
}



@keyframes remove-animation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-1px) rotate(-4deg);
	}

	30% {
		transform: translateX(1px) rotate(4deg);
	}

	45% {
		transform: translateX(-1px) rotate(-2.6deg);
	}

	60% {
		transform: translateX(2px) rotate(1.4deg);
	}

	75% {
		transform: translateX(-1px) rotate(-1.6deg);
	}
}

.class {
    color: rgb(220, 0, 0);
}

@media only screen 
   and (max-width : 400px) {
    body  {
        overflow: hidden;
    }
    header i {
        margin-right: 20px;
    }
    header {
        text-align: center;
        font-size: 10px;
    }
    header h1 {
        width: 300px;
    }

    .main-page {
        grid-template-columns: repeat(1, 1fr);
        left: 68px;
    }

    .class-card {
        position: relative;
        text-align: center;
        width: 125px;
        height: 100px;
        margin-bottom: 50px;
        z-index: 15;
    }
}

.help-links-container{
    overflow: hidden;
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
}

.help-links-container.show {
    max-height: 0; 
    transition-timing-function: ease-out;
}

.help-links-container a{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    font-size: 16px;
}

.help-links-container a:first-of-type{
    margin-bottom: 22px;
    margin-top: 7px;
}

.help-links-container a:last-of-type{
    margin-bottom: 10px;
}

#overlay{
    opacity: 1;
    background-color: #f0f0f0;
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    transition: opacity 1s ease; /* Transition effect on opacity */
}

#overlay.visible {
    opacity: 0; /* Visible when 'visible' class is added */
}

#overlay p{
    width: 550px;
    padding: 15px;
    font-weight: 700;
    line-height: 30px;
    font-size: 20px;
}

