* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
    font-size: 11.5px;
    letter-spacing: 1px;
    word-spacing: 4px;
    width: 100%;
    color: white;
    background: linear-gradient(90deg, rgba(96,84,184,1) 8%, rgba(106,89,231,1) 50%, rgba(159,150,227,1) 95%);
    z-index: 5;
    border-bottom: 1px solid rgb(213, 213, 213);
}

header i {
    margin-right: 120px;
}

.sidebar {
    position: fixed;
    margin-top: 84px;
    width: 180px;
    height: 100vh;
    font-size: 18px;
    background-color: rgb(242, 242, 242);
    box-shadow: -6px 3px 5px 5px rgba(113, 113, 113, 0.75);
    z-index: 2;
}

.sidebar-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    margin-top: 35px;
    padding-left: 30px;
    margin-bottom: 35px;
    color: rgb(85, 85, 85);
    font-weight: 500;
    border-style: none;
    font-size: 18px;
    background-color: rgb(242, 242, 242);
}



.sidebar-text:hover {
    cursor: pointer;
    color: rgba(106,89,231,1);
    font-weight: 600;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 35px;
    padding-left: 30px;
    margin-bottom: 35px;

}

.sidebar-btn button {
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(74, 65, 140);
    background-color: rgb(242, 242, 242);
}


.sidebar-btn button:hover {
    cursor: pointer;
}


/* main page that you scroll*/

.main-page {
    position: relative;
    top: 96px; /* Adjust based on header height */
    left: 180px; /* Adjust based on sidebar width */
    right: 0; /* Take the remaining width */
    bottom: 0; /* Take the remaining height */
    width: calc(100% - 180px); /* Adjust based on sidebar width */
    height: calc(100vh - 96px); /* Adjust based on header height */
    margin-left: 140px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: grid;
    grid-template-columns: repeat(3, 375px);
    row-gap: 75px;
    padding-top: 50px;
    align-content: start; /* Align content at the start of the grid */
}

.class-card {
    text-align: center;
    width: 125px;
    height: 100px;
}

.class-card p {
    font-size: 19px;
    color: rgb(85, 85, 85);
    padding-top: 15px;
}

.class-card:hover {
    cursor: pointer;
    color: rgba(96,84,184,1)
}

.class-card:hover p {
    cursor: auto;
    color: rgba(96,84,184,1);
}






.hidden {
    display: none;
}